{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
        <h2> Your group and appearance </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
        <h5>
            You have concluded Part 1 and will now begin Part 2:
        </h5>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "switch_inst_p2/Img_X1.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
            First, you will read the instructions for <b>Part 2</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "switch_inst_p2/Img_X2.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
            Then, you will participate in Part2 for <b>10 rounds</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "switch_inst_p2/Img_X3.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
                At the end, the computer will randomly choose two rounds (one from Part 1 and one from Part 2).
                You will be paid for the total number of points you earned in the two selected rounds.
                You will receive your earnings in cash.
        </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
    </style>
{% endblock %}