{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h1> Round <font color="#C202ED">{{ subsession.round_number }}</font> of {{ Constants.num_rounds }} -
    <small><font color="#C202ED">First message</font></small></h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4 border border-dark" style="background-color:#FFFFFF;">
            <center>
            <div class="container">
                <br><br>
                <font color=#000000>You have coordinated in <font color="#C202ED"><b>9</b></font> of the
                    <b>{{ Constants.num_rounds }}</b> rounds:</font>
                <canvas id="ResultsCanvas" width="297" height="120"></canvas>
                <font color=#000000>You have earned <b>13</b> of the 54 points accumulated in your group.</font>
            </div>
            </center>
        </div>

        <div class="col-md-4 border border-dark" style="background-color:#000000;">
            <center>
            <div class="container">
                <canvas id="NetworkCanvas" width="297" height="350"></canvas>
            </div>
            </center>
        </div>

        <div class="col-md-4 border border-dark" style="background-color:#FFFFFF;">
            <center>
            <div class="container">
                <br><br>
                <font color="#000000">You are participant <font color="#C202ED"><b>{{player.role}}</b></font>. Select
                    the <font color="#C202ED"><b>message</b></font> you want to send</font>.
                <br><br>
                <button name="msg1" value="1" class="btn btn-warning"> N </button>
                <br>
                <button name="msg1" value="2" class="btn btn-success"> W </button>
                <button name="msg1" value="3" class="btn btn-info"> E </button>
                <br>
                <button name="msg1" value="4" class="btn btn-danger"> S </button>
            </div>
            </center>
        </div>


    </div>
</div>

{% endblock %}



{% block scripts %}
    <script>
        var canvas = document.getElementById("NetworkCanvas");
        var ctx = canvas.getContext("2d");

        //Network links
        ctx.beginPath();
        ctx.strokeStyle = '#FFFFFF';
        ctx.lineWidth   = 2;
        ctx.moveTo(70, 100); //A-B
        ctx.lineTo(220, 100);
        ctx.moveTo(70, 250); //C-D
        ctx.lineTo(220, 250);
        ctx.moveTo(220, 100); //B-C
        ctx.lineTo(220, 250);
        ctx.moveTo(70, 100); //A-D
        ctx.lineTo(70, 250);
        ctx.moveTo(70, 100); //A-C
        ctx.lineTo(220, 250);
        ctx.moveTo(220, 100); //B-D
        ctx.lineTo(70, 250);
        ctx.stroke();
    </script>

    <script>
        // Nodes
        ctx.beginPath(); //A
        ctx.fillStyle = '#000000';
        ctx.arc(70, 100, 30, 0, 2 * Math.PI);
        ctx.fill();
        ctx.strokeStyle = '#F7C244';
        ctx.lineWidth   = 6;
        ctx.arc(70, 100, 30, 0, 2 * Math.PI);
        ctx.stroke();
    </script>

    <script>
        ctx.beginPath(); //B
        ctx.fillStyle = '#000000';
        ctx.arc(215, 100, 30, 0, 2 * Math.PI);
        ctx.fill();
        ctx.strokeStyle = '#53A451';
        ctx.lineWidth   = 6;
        ctx.arc(215, 100, 30, 0, 2 * Math.PI);
        ctx.stroke();
    </script>

    <script>
        ctx.beginPath(); //C
        ctx.fillStyle = '#000000';
        ctx.arc(215, 245, 30, 0, 2 * Math.PI);
        ctx.fill();
        ctx.strokeStyle = '#49A0B5';
        ctx.lineWidth   = 6;
        ctx.arc(215, 245, 30, 0, 2 * Math.PI);
        ctx.stroke();
    </script>

    <script>
        ctx.beginPath(); //D
        ctx.fillStyle = '#000000';
        ctx.arc(70, 245, 30, 0, 2 * Math.PI);
        ctx.fill();
        ctx.strokeStyle = '#CC444A';
        ctx.lineWidth   = 6;
        ctx.arc(70, 245, 30, 0, 2 * Math.PI);
        ctx.stroke();
    </script>

    <script>
        // Labels
        ctx.font = '20px serif';
        ctx.fillStyle = '#FFFFFF';
        ctx.fillText('A', 63, 105);
        ctx.fillText('B', 210, 105);
        ctx.fillText('C', 63, 253);
        ctx.fillText('D', 210, 253);
    </script>

    <script>
        var canvas = document.getElementById("ResultsCanvas");
        var ctx = canvas.getContext("2d");
    </script>

    <script>
        // History of choices
        ctx.fillStyle = "#53A451"; //T1
        ctx.fillRect(10,40,20,20);
        ctx.fillStyle = "#000000"; //T2
        ctx.fillRect(35,40,20,20);
        ctx.fillStyle = "#F7C244"; //T3
        ctx.fillRect(60,40,20,20);
        ctx.fillStyle = "#49A0B5"; //T4
        ctx.fillRect(85,40,20,20);
        ctx.fillStyle = "#F7C244"; //T5
        ctx.fillRect(110,40,20,20);
        ctx.fillStyle = "#000000"; //T6
        ctx.fillRect(135,40,20,20);
        ctx.fillStyle = "#CC444A"; //T7
        ctx.fillRect(160,40,20,20);
        ctx.fillStyle = "#000000"; //T8
        ctx.fillRect(185,40,20,20);
        ctx.fillStyle = "#CC444A"; //T9
        ctx.fillRect(210,40,20,20);
        ctx.fillStyle = "#49A0B5"; //T10
        ctx.fillRect(235,40,20,20);
        ctx.fillStyle = "#53A451"; //T11
        ctx.fillRect(10,65,20,20);
        ctx.fillStyle = "#53A451"; //T12
        ctx.fillRect(35,65,20,20);
        ctx.fillStyle = "#000000"; //T13
        ctx.fillRect(60,65,20,20);
        ctx.fillStyle = "#000000"; //T14
        ctx.fillRect(85,65,20,20);
        ctx.fillStyle = "#000000"; //T15
        ctx.fillRect(110,65,20,20);
        ctx.fillStyle = "#000000"; //T16
        ctx.fillRect(135,65,20,20);
        ctx.fillStyle = "#000000"; //T17
        ctx.fillRect(160,65,20,20);
        ctx.fillStyle = "#000000"; //T18
        ctx.fillRect(185,65,20,20);
        ctx.fillStyle = "#000000"; //T19
        ctx.fillRect(210,65,20,20);
        ctx.fillStyle = "#000000"; //T20
        ctx.fillRect(235,65,20,20);
    </script>

{% endblock %}

{% block styles %}


{% endblock %}
