{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" style="background-color:#3e2723">
            <h1 id="lightbrown"> You are player <b id="white"> {{player.role}}</b> -
                <small id="lightbrown">(This is round {{ subsession.round_number }} of {{ Constants.num_rounds }})</small></h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <!-- Network -->
        <div class="col-md-4 border border-dark rounded p-3 mb-1" style="background-color:#efebe9">
            <p id="brown">
                <h4 id="brown">Second message:</h4>
            </p>
            <p id="brown">
                The color shows the message sent
            </p>
        <div id="cy"></div>
            <div class="container ">
                <div class="row">
                </div>
            </div>
        </div>
    <!-- Summary -->
        <div class="col-md-4 border border-dark rounded p-3 mb-1" style="background-color:#d7ccc8">
            <p>
                <h4 id="brown">Summary:</h4>
            </p>
             <p id="brown">
                - Coordinations in group:
                    <b style='color: #5d4037'> {{ group.old_total_coordination }} </b>
                <br>
                - Goal achieved:
                {% if group.goal_achieved == 1 %}
                <b style='color: #5d4037'> Yes </b>
                {% else %}
                <b style='color: #5d4037'> No </b>
                {% endif %}
                <br>
                - Points in group:
                    <b style='color: #5d4037'> {{ group.old_group_total_points }} </b>
                <br>
                - Your points:
                    <b style='color: #5d4037'> {{ player.old_total_points }} </b>
            </p>
        </div>
    <!-- Choice -->
        <div class="col-md-4 text-white border border-dark rounded p-3 mb-1" style="background-color:#3e2723">
            <p>
                <h4 id="lightbrown"> Action </h4>
            </p>
            <p id="lightbrown">
                Click on the action you want to choose:
            </p>
            <input type="hidden" value="0" name="action" id="action"/>
            <button name="action" value="1" class="btn btn-warning">O</button>
            <button name="action" value="2" class="btn btn-success">G</button>
            <button name="action" value="3" class="btn btn-info">B</button>
            <button name="action" value="4" class="btn btn-danger">R</button>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.js"></script>
    <script>
        var jsonnet = JSON.parse('{{group.network_data|safe}}');
        var player_id = {{ player.name }};
        console.log(jsonnet);
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

        });

        // Add isMine = 'yes' to all player's node and edges
        jsonnet.elements = jsonnet.elements.map(
            function(value) {
                if ( (value.group === 'nodes' && value.data.name == 1)
                ) {
                    value.data.role = 'up'
                }
                if ( (value.group === 'nodes' && value.data.name == 2)
                ) {
                    value.data.role = 'right'
                }
                if ( (value.group === 'nodes' && value.data.name == 3)
                ) {
                    value.data.role = 'down'
                }
                if ( (value.group === 'nodes' && value.data.name == 4)
                ) {
                    value.data.role = 'left'
                }
                if (value.group === 'nodes' && value.data.second == 1) {
                    value.data.behavior = 'One'
                }
                if (value.group === 'nodes' && value.data.second == 2) {
                    value.data.behavior = 'Two'
                }
                if (value.group === 'nodes' && value.data.second == 3) {
                    value.data.behavior = 'Three'
                }
                if (value.group === 'nodes' && value.data.second == 4) {
                    value.data.behavior = 'Four'
                }
                return value
            });

        console.log(jsonnet)
        cy.json(jsonnet);

        var layout = cy.layout({name: 'grid'});

        layout.run();
        cy.panBy('node');

        cy.style()
            // NODES ==============================================
            .selector('node')
            // .style('padding-relative-to', 'width')
            .style('shape', 'ellipse')
            .style('width', '30%')
            .style('height', '30%')
            .style('background-color', '#efebe9')
            .style('border-width', '5')
            .style('border-color', '#000000')
            .style('font-size', '18pt')
            .style('color','#000000')
            .style('padding', '100%')
            // Node Labels: Top
            .selector('node[role="up"]')
            .style('text-valign','top')
            // Node Labels: Right
            .selector('node[role="right"]')
            .style('text-valign','top')
            // .style('text-halign','right')
            // Node Labels: Bottom
            .selector('node[role="down"]')
            .style('text-valign','top')
            // Node Labels: Left
            .selector('node[role="left"]')
            .style('text-valign','top')
            // ====================================================
            // BEHAVIOR ===========================================
            // Choice == 1
            .selector('node[behavior="One"]')
            .style('border-color', '#ffbb33')
                // .style('background-color', '#E1BEE7')
            // Choice == 2
            .selector('node[behavior="Two"]')
            .style('border-color', '#00C851')
                // .style('background-color', '#C8E6C9')
            // Choice == 3
            .selector('node[behavior="Three"]')
            .style('border-color', '#33b5e5')
                // .style('background-color', '#E1BEE7')
            // Choice == 4
            .selector('node[behavior="Four"]')
            .style('border-color', '#ff4444')
                // .style('background-color', '#C8E6C9')
            // ====================================================
            .update() // update the elements in the graph with the new style
        ;
        cy.userZoomingEnabled(false);
        cy.autoungrabify(true);
    </script>
{% endblock %}

{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }
        #brown{
            color: #3e2723;
        }
        #lightbrown{
            color: #efebe9;
        }
        #white{
            color: #ffffff;
        }
        #gray{
            color: #424242;
        }
        .center {
            text-align: center;
        }
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
    </style>
{% endblock %}
