{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> Phase 2: Action </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
            <br>
            In this phase you will choose an action: <b style="color: #8E24AA">Up</b> or <b style="color: #43A047">Down</b>.
            <br><br>
          You can get points for every participant choosing the <b>same</b> action as you (coordinate), but only if there
          is an <b>active connection</b> between the two of you (you proposed to each other in Phase 1).
            <br><br>
          The number of points you earn depends on your <b>internal symbol</b> and the <b>action</b> you choose. This is
            explained below.
            <br>

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <p>
            <br>
            You will see a screen as illustrated on the left. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 border " style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_10_Link.jpg" %}"/>
      </div>
      <div class="col-sm-4 border border-dark text-white rounded" style='background-color: #455A64;'>
          <p><b style='color: #B3E5FC'>#1.</b> You will see which active connections you formed in Phase 1.
              <br><br>
              - A darker line from you with an arrow pointing to another participant is a connection you proposed
              <br><br>
              - A lighter line with an arrow pointing towards you is a connection that another participant proposed to you
              <br><br>
              -An <b style='color: #B3E5FC'>active connection</b> with another participant is formed if both of you proposed to each other
          </p>
          <p style='color: #ffffff'><b style='color: #B3E5FC'>#2.</b> You will have to click on the action you want to choose:
              <b style='color: #E1BEE7'> Up </b> or <b style='color: #C8E6C9'> Down </b>
          </p>
          <!--<p>-->
          <!--For each coordination you get:-->
          <!--<br>-->
           <!--If your internal symbol is <b style='color: #B3E5FC'> &#9711</b>:-->
           <!--<br>-->
              <!-- - <b>{{ Constants.liked_gain }}</b> if you choose <b style="color: #8E24AA">Up</b>-->
           <!--<br>-->
              <!-- - <b>{{ Constants.disliked_gain }}</b> if you choose <b style="color: #43A047">Down</b>-->
           <!--<br><br>-->
           <!--If your internal symbol is <b style='color: #B3E5FC'> &#9651</b>, for every coordination you earn:-->
           <!--<br>-->
              <!-- - <b>{{ Constants.liked_gain }}</b> if you choose <b style="color: #43A047">Down</b>-->
           <!--<br>-->
              <!-- - <b>{{ Constants.disliked_gain }}</b> if you choose <b style="color: #8E24AA">Up</b>-->
          <!--</p>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h4>Comprehension Question</h4>
          <p style='color: #B3E5FC'>Please answer the following question:</p>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
          <p>
            <b>1. You will be assigned an internal and an external symbol. How often do your symbols change?</b>
            <br>
            <small>{% formfield player.change label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}