{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h2> Instructions Phase 2: <i style='color: #B3E5FC'>Action </i></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            In the second phase, you will see the connections proposed and active connections formed, and you will choose
            an action: <b style="color: #8E24AA">Up</b> or <b style="color: #43A047">Down</b> (see below).
            <br><br>
            The image below illustrates the screen you will see in Phase 2. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 border rounded" style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_12_Choice.png" %}"/>
      </div>
      <div class="col-sm-4  border rounded" style='background-color: #F8F8FF;'>
          <br>
          <p><b>1.</b> The network of connections formed in Phase 1:
            <ul>
          <li>A <span id="light">light arrow</span> from you to another player is a connection <b>you proposed</b></li>
          <li>A <span id="dark">dark arrow</span> to you from another player is a connection <b>proposed to you</b></li>
              <li>When <b>both</b> arrows are present you have an <b>active connection</b> with the other player</li>
            </ul>
              </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12  border rounded" style='background-color: #F8F8FF;'>
          <p><b>2. Actions:</b> To choose an action <b style="color: #8E24AA">Up</b> or <b style="color: #43A047">Down</b> click on the
              corresponding button. You will earn points depending on your group and the decisions made by your active
              connections, independently of your connections' group. This is as follows:
            <br><br>
              <b>If your group is <b>&#9711</b> and you:</b>
            <ul>
                <li>choose <b style="color: #8E24AA">Up</b>, you get <b>{{ Constants.liked_gain }}</b> points for each
                    active connection choosing <b style="color: #8E24AA">Up</b></li>
                <li>choose <b style="color: #43A047">Down</b>, you get <b>{{ Constants.disliked_gain }}</b> points for each active
                    connection choosing <b style="color: #43A047">Down</b></li>
            </ul>
              <b>If your group is <b>&#9651</b> and you:</b>
            <ul>
                <li>choose <b style="color: #43A047">Down</b>, you get <b>{{ Constants.liked_gain }}</b> points for each active
                    connection choosing <b style="color: #43A047">Down</b></li>
                <li>choose <b style="color: #8E24AA">Up</b>, you get <b>{{ Constants.disliked_gain }}</b> points for
                    each active connection choosing <b style="color: #8E24AA">Up</b></li>
            </ul>
          </p>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" style='background-color: #ffffff;'>
          <br>
          <h4>Before you continue, please answer the comprehension questions: </h4>
          <br>
          <p>
            <b>1. In the image above, how many active connections does player 3 formed?</b>
            <br>
            <small>{% formfield player.q5_count label="" %}</small>
          </p>
          <p>
            <b>2. In the image above, what is the total cost player 3 has to pay for his connections?</b>
            <br>
            <small>{% formfield player.q6_pay label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #dark{
            color: #ffffff;
            background-color: #455A64;
        }
        #light{
            color: #ffffff;
            background-color: #78909C;
        }
    </style>
{% endblock %}