{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> Phase 1: Connections </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            The first decision you make in a round is <b>whom you want to propose a connection to</b>. You can propose
            between 0 and 10 connections. A connection is <b>active</b> if you propose to a participant who also
            proposes to you.
            <br>
            -   You will pay a cost for every active connection.
            <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            You will see a screen as illustrated on the left. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 border " style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_10_Link.jpg" %}"/>
      </div>
      <div class="col-sm-5 border " style='background-color: #F8F8FF;'>
          <p><b>#1 and 2.</b> Your player number (between 1 and 11) and your internal and external symbol, which are
              the same in every round in Part 1. This header will be shown in every phase and in every round.</p>
          <p><b>#3.</b> Which of the 3 phases you are in: <b>Connections</b> </p>
          <p><b>#4.</b> How many players in your group have internal symbol circle or triangle: <b>E.g., 6 circles and
              5 triangles</b> </p>
          <p><b>#5.</b> You will be able to click on the number of each player you want to propose a connection to. </p>
          <p><b>#6.</b> and you will be able to see the symbols of each player in your group. To facilitate
              identification, your border will be thicker and your number larger than the others. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border text-white" style='background-color: #455A64;'>
          <h4>Comprehension questions:</h4>
          <br>
          <p></p>

            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}