{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h2> Instructions Phase 1: <i style='color: #B3E5FC'>Connections </i></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            In the first phase, you can choose <b>whom you want to propose a connection to</b>. You can propose between
            <b>0</b> and <b>{{ Constants.others }}</b> connections. You will pay a cost of <b>{{ Constants.link_cost }}
            points</b> for each connection <b>you propose</b>.

            <br><br>

            If you propose a connection to a player who also proposes to you, this represents an <b>active</b>
            connection between the two of you. In Phase 2 (Action) you will <b>only</b> interact with those players
            with whom you have an active connection.

            <br><br>

            The image below illustrates the screen you will see in Phase 1. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 border rounded" style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_11_Formation.png" %}"/>
      </div>
      <div class="col-sm-4  border rounded" style='background-color: #F8F8FF;'>
          <br>
          <p><b>1.</b> The phase and round you are in.</p>
          <p><b>2.</b> The number of players with internal symbol &#9711 or &#9651</p>
          <p><b>3.</b> The label and symbols of each player. Yours will be larger
              <small>[Eg. In the illustration you would be player 3]</small>. </p>
          <p><b>4. Proposals:</b> To propose a connection, check the box next to a player’s label. Once you
              checked all the proposals you want to make, click on the <b>Continue</b> button.</p>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" style='background-color: #ffffff;'>
          <br>
          <h4>Before you continue, please answer the comprehension questions: </h4>
          <br>
          <p>
            <b>1. There is a cost of {{ Constants.link_cost }} points associated to each connection. When do you have
                  to pay this cost?</b>
            <br>
            <small>{% formfield player.q3_cost label="" %}</small>
          </p>
          <p>
            <b>2. In Phase 2 (Action) you only participate with your active connections. When is a connection active?</b>
            <br>
            <small>{% formfield player.q4_active label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>


{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}