{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> Decisions in Part 1 </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            At the beginning of each round, all participants are randomly assigned to groups of size <b>11</b>.
            You will be in a group with the same people for all the experiment.
            <br><br>
            Each round consists of 3 phases, as illustrated below. Each will be explained in the next screens.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h4>1. Connections</h4>
          <p>Participants can propose connections to each other.</p>
          <br>
            <img width="280" height="200" src="{% static "instructions/Img_Inst_7.jpeg" %}"/>
      </div>
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h4>2. Action</h4>
          <p>Participants observed the connections made and each chooses an action: Up or Down.</p>
            <img width="280" height="200" src="{% static "instructions/Img_Inst_8.jpeg" %}"/>
      </div>
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h4>3. Results</h4>
          <p>Participants observe who of their connections chose the same action, and earn points for it.</p>
            <img width="280" height="200" src="{% static "instructions/Img_Inst_9.jpeg" %}"/>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
          <br>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}