{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> Decisions in Part 1 </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            At the beginning of the experiment, all participants are randomly assigned to groups of size
            <b>{{ Constants.names }}</b>. You will be in a group with the same people for all the experiment.
            <br><br>
            Each participant is assigned a label (1 to {{ Constants.names }}), and an internal and an external symbol (&#9711 or &#9651),
            which will not change during the 10 rounds of Part 1.
            <br><br>
            You will see your label and your symbols on the header at the top of each screen. The example below is the
            header for Player 1.
        </p>
          <img width="100%" src="{% static "instructions/Img_Inst_10_Header.jpg" %}"/>
          <br>
        <p>
            Each round in Part 1 consists of 3 phases (see below), which are explained in the following screens.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h5>1. Connections</h5>
          <p>Participants can propose connections to each other.</p>
          <br>
            <img width="85%" src="{% static "instructions/Img_Inst_7.jpeg" %}"/>
      </div>
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h5>2. Action</h5>
          <p>Each participant observes the connections made and choose an action: Up or Down.</p>
            <img width="85%" src="{% static "instructions/Img_Inst_8.jpeg" %}"/>
      </div>
      <div class="col-sm-4 border " style='background-color: #ffffff;'>
          <h5>3. Results</h5>
          <p>Participants observe which of their connections chose the same action, and earn points for it.</p>
            <img width="85%" src="{% static "instructions/Img_Inst_9.jpeg" %}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h4>Comprehension Question</h4>
          <p style='color: #B3E5FC'>Please answer the following question:</p>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
          <p>
            <b>1. You will be assigned an internal and an external symbol. How often do your symbols change?</b>
            <br>
            <small>{% formfield player.change label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}