{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h2> Instructions Phase 3: <i style='color: #B3E5FC'>Results </i></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
        <p>
            <br>
            In the third phase, you will see the the actions chosen by your active connections and the points you get in
            the current round.
            <br><br>
            The image below illustrates the screen you will see in Phase 3. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 border rounded" style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_13_Results.png" %}"/>
      </div>
      <div class="col-sm-4  border rounded" style='background-color: #F8F8FF;'>
          <br>
          <p><b id="item">1.</b> The border of each player's external symbol shows the action that player chose.
            <ul>
              <li><b style="color: #8E24AA">Purple</b> if the action is <b style="color: #8E24AA">Up</b></li>
              <li><b style="color: #43A047">Green</b> if the action is <b style="color: #43A047">Down</b></li>
            </ul>
          </p>
          <p><b id="item">2.</b> Summary of the choices you made and the points you get.
              <br>
              <small>To calculate your points count
              how many of your active connections you coordinate with (including yourself), multiply that number by 4 or
              6 (depending on your group and the action you chose), and then subtract the number of connections you
              proposed multiplied by 2 (the cost of each proposal). This is illustrated in the two examples below.
          </small>

          </p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 border rounded" style='background-color: #F8F8FF;'>
            <br>
            <p>
                <b>Example 1:</b> In the illustratin on the right, you are player <b>3</b>, assigned to the group <b>circle</b>.
                    You chose action <b>Up</b> and coordinated with <b>1</b> of your active connections. So you have <b>2</b>
                    coordinations (one with yourself and one with player 7), and they are multiplied by <b>6</b> (because
                    your group is circle and you chose Up). So you gain <b>12</b> points.
                <br>
                You proposed <b>4</b> connections (to players 2, 4, 5 and 7), each costs <b>2</b> points, so you pay <b>8</b>
                points. In total, you get 12-8= <b>4 points</b> in this round.
            </p>
        </div>
        <div class="col-sm-4 border rounded" style='background-color: #F8F8FF;'>
                <img width="70%"  src="{% static "instructions/Img_Inst_13_Results_U.png" %}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 border rounded" style='background-color: #F8F8FF;'>
            <br>
            <p>
                <b>Example 2:</b> In the illustratin on the right, you are player <b>3</b>, assigned to the group <b>circle</b>.
                    You chose action <b>Down</b> and coordinated with <b>2</b> of your active connections. So you have <b>3</b>
                    coordinations (one with yourself and one with players 4 and 5), and they are multiplied by <b>4</b> (because
                    your group is circle and you chose Down). So you gain <b>12</b> points.
                <br>
                You proposed <b>4</b> connections (to players 2, 4, 5 and 7), each costs <b>2</b> points, so you pay <b>8</b>
                points. In total, you get 12-8= <b>4 points</b> in this round.
            </p>
        </div>
        <div class="col-sm-4 border rounded" style='background-color: #F8F8FF;'>
                <img width="70%"  src="{% static "instructions/Img_Inst_13_Results_D.png" %}"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" style='background-color: #ffffff;'>
          <br>
          <h4>Before you continue, please answer the comprehension questions: </h4>
          <br>
          <p>
            <b>1. Question here?</b>
            <br>
            <small>{% formfield player.q7_points label="" %}</small>
          </p>
          <p>
            <b>2. Question here?</b>
            <br>
            <small>{% formfield player.q8_payoffs label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #item{
            color: #000000;
            background-color: #FFEB3B;
            border: 1px solid #000000
        }
    </style>
{% endblock %}