{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> Phase 3: Results </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <!--<div class="row">-->
      <!--<div class="col-sm-12 border" style='background-color: #F8F8FF;'>-->
            <!--<br>-->
            <!--In this phase you will be informed of your earnings for the round.-->
            <!--<br>-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <p>
            <br>
            You will see a screen as illustrated on the left. The numbers explain what each element means.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 border " style='background-color: #ffffff;'>
          <br>
            <img width="100%"  src="{% static "instructions/Img_Inst_10_Link.jpg" %}"/>
      </div>
      <div class="col-sm-4 border border-dark text-white rounded" style='background-color: #455A64;'>
          <p>
              <b style='color: #B3E5FC'>#1.</b> Your action, number of active connections and number of coordinations
          </p>
          <p><b style='color: #B3E5FC'>#2.</b> The action chosen by each of your active connections is illustrated by the color of
              its border: <b style='color: #E1BEE7'>Up </b> or <b style='color: #C8E6C9'>Down</b>.
          </p>
          <p>
              <b style='color: #B3E5FC'>#3.</b> Your earnings in the round. For each of your active connections choosing
              the same as you (coordination) you get:
          <br><br>
           <b style='color: #B3E5FC'> If your internal symbol is  &#9711</b>:
           <br>
               - <b>{{ Constants.liked_gain }}</b> points if you choose <b style="color: #E1BEE7">Up</b>
           <br>
               - <b>{{ Constants.disliked_gain }}</b> points if you choose <b style="color: #C8E6C9">Down</b>
           <br><br>
           <b style='color: #B3E5FC'> If your internal symbol is  &#9651</b>:
           <br>
               - <b>{{ Constants.liked_gain }}</b> points if you choose <b style="color: #C8E6C9">Down</b>
           <br>
               - <b>{{ Constants.disliked_gain }}</b> points if you choose <b style="color: #E1BEE7">Up</b>
              <br><br>
              - You pay <b>{{ Constants.link_cost }}</b> points for each of your active connections.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h4>Comprehension Question</h4>
          <p style='color: #B3E5FC'>Please answer the following question:</p>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border" style='background-color: #F8F8FF;'>
          <p>
            <b>1. You will be assigned an internal and an external symbol. How often do your symbols change?</b>
            <br>
            <small>{% formfield player.q_results label="" %}</small>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}