{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
        <h2> General Instructions</h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
            <img width="100%" src="{% static "instructions/Img_Inst_1.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
           For participating in this experiment you will receive a minimum payment of <b>{{ Constants.min_pay }}</b> Euros.
            Please read these instructions carefully to find out how you can earn <b>additional money</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
            <img width="100%" src="{% static "instructions/Img_Inst_2.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
            All interactions take place through the computers. So, please do not talk or communicate with the other
            players in any other way.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
            <img width="100%" src="{% static "instructions/Img_Inst_3.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
            If you have any question please raise your hand and an experimentalist will come and answer your question privately.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
            <img width="100%" src="{% static "instructions/Img_Inst_4.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
            This experiment is <b>anonymous</b>. Therefore, your identity will not be revealed to the other players
            nor theirs to you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
          <br>
            <img width="100%" src="{% static "instructions/Img_Inst_6.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
            The experiment has <b>2 parts</b> of 10 rounds each (20 in total). You will first read the instructions for
            Part 1. Once part 1 is over you will read the instructions for Part 2. In both parts you will interact with
            the same players.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
          <br>
            <img width="100%" src="{% static "instructions/Img_Inst_5.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
        <p>
            <br>
            At the end of the experiment the computer will randomly select two rounds (one from Part 1 and one from Part 2).
            The total number of points you earned in the two selected rounds will determine your payment. We will convert
            the points into Euros using the following exchange rate: <b>{{ Constants.exchange }} points = 1 Euro</b>. You
            will receive your earnings in cash.
        </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}