{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <font size="25" color="blue">{{ word }}</font>  <font color="black">(word {{word_id}} out of 24)</font>
{% endblock %}

{% block content %}
    {% formfield player.submitted_answer label="" %}

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Submit</button>

    <br><br>
    <!--
    Hidden variable that indicates whether we should show the next word in the list.
    The button sets its value to 1, that indicates show the next word.
     -->
    <input type="hidden" value="0" name="word_increment" id="word_increment"/>
    <button class="btn btn-danger btn-large" onclick="$('#word_increment').val(1)">Go to next word</button>
    <!--
    -->
    <br>
    <br>

    <table class="table">
        <tr>
            <th>Submitted Words</th>
            <th>Points</th>
            <th>Total Points</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <!--
            When the 'Next word' button is clicked, the submitted_answer field is submitted and stored but the payoffs
            are not calculated. Since we do not want to show those values in the list, we can check whether the
            payoffs have been calculated as a show condition
            -->
            {% if p.payoff_score is not None %}
            <tr>
                <td>{{ p.submitted_answer }}</td>
                <td>{{ p.payoff_score }}</td>
                <td>{{ p.total_payoff }}</td>
            </tr>
            {%  endif %}
        {% endfor %}
    </table>

{% endblock %}
