{% extends "p1_no3/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 2: How do you think others play in this game?</h2>
{% endblock %}

{% block content %}

    {% include Constants.instructions_belief_number %}

    <p>The message you sent to P2 reporting on the <b id="hidden"> hidden number </b> was <b id="bold">{{player.report_1}}</b>.
        What number do you think P2 sent to P3 after seeing your report?</p>

    <br>

    {% formfield player.belief2  label="" %}

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

{% endblock %}
