{% extends "p1_no3/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Comprehension Check</h2>
{% endblock %}

{% block content %}

<div>
    <p id="sub">
        Please answer these questions carefully. You can only participate in the study once you have answered all of them correctly.
        If you answer one or more incorrectly, you will get a chance to review your answers again for a second time. <b> If you have any
        doubts, you can click on the "Show Instructions" button below and the instructions will be displayed.</b>
    </p>

    <p>
        <b>1. P1 will draw a <b id="hidden">hidden number</b> between 1 and 30 from the cards displayed in the instructions.
            Which of these numbers is the most likely to be drawn as the <b id="hidden">hidden number</b>? </b>
        <small>{% formfield player.distribution label="" %}</small>

    {% if player.treat == 1 %} <!-- FRST -->
        <b>2. P1 will send a message reporting on the <b id="hidden">hidden number</b>. What information will P2 receive?</b>
        <small>{% formfield player.infop2 label="" %}</small>

        <b>3. Suppose the <b id="hidden">hidden number</b> is 12 and P1 reports 12 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 and P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings1 label="" %}</small>

        <b>4. Suppose the <b id="hidden">hidden number</b> is 12 and P1 reports 18 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 and P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings2 label="" %}</small>


    {% else %} <!-- NO, EXO, ENDO, VCTM, VCTM5 -->
        <b>2. P1 will send a message reporting on the <b id="hidden">hidden number</b> to P2. What information will P2 receive?</b>
        <small>{% formfield player.infop2 label="" %}</small>

        <b>3. P2 will send a message reporting on the <b id="hidden">hidden number</b> to P3. What information will P3 receive?</b>
        <small>{% formfield player.infop3 label="" %}</small>

        <b>4. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 12 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 or P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings1 label="" %}</small>
    {% endif %} <!-- -->


    {% if player.treat == 2 or player.treat == 3 or player.treat == 4 %} <!-- NO, EXO, ENDO -->
        <b>5. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 18 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 or P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings2 label="" %}</small>

    {% elif player.treat == 5 %} <!-- VCTM -->
        <b>5. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 12 in the <b id="final">final message</b>.
            How many cents does participant P4 earn aside from his/her show-up payment?</b>
        <small>{% formfield player.earnings4a label="" %}</small>

        <b>6. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 18 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 or P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings2 label="" %}</small>

        <b>7. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 18 in the <b id="final">final message</b>.
            How many cents does participant P4 earn aside from his/her show-up payment?</b>
        <small>{% formfield player.earnings4b label="" %}</small>


    {% elif player.treat == 11 %} <!-- VCTM5 -->
        <b>5. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 12 in the <b id="final">final message</b>.
            How many cents do participants P4 and P5 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings4a label="" %}</small>

        <b>6. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 18 in the <b id="final">final message</b>.
            How many cents do participants P1, P2 or P3 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings2 label="" %}</small>

        <b>7. Suppose the <b id="hidden">hidden number</b> is 12 and P3 reports 18 in the <b id="final">final message</b>.
            How many cents do participants P4 and P5 earn aside from their show-up payment?</b>
        <small>{% formfield player.earnings4b label="" %}</small>
    {% endif %} <!-- -->
    </p>
</div>

<div>

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

    <br><br>

    <input type="hidden" value="0" name="inst_show" id="inst_show"/>
    <button type="button" class="btn btn-warning btn-large" onclick="$('#inst_show').val(1); document.getElementById('demo').style.display='block'">Show Instructions</button>

    <br> <br>

    <div id="demo" style="display:none"> {% include Constants.instructions_template %} </div>

</div>

{% endblock %}

