{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <p>
            <h2><b id="bold">Instructions</b></h2>

            In this task you can earn <b id="bold">extra money</b> by answering a few questions. We will ask you to report
            how you think <b id="bold">other participants</b> played in this game you just participated in.

            <br><br>

            You will be asked a few questions in this task and <b id="bold">one of them</b> will be randomly selected for payment.
            You will earn <b id="bold">20 cents</b> depending on the accuracy of your answer for the randomly selected question.
        </p>
    </div>
</div>


