{% extends "p1_no3/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">The study is over.</h2>
{% endblock %}

{% block content %}

<p>

    <b id="bold">Your participation in this study finishes here.</b> You have earned the show-up fee of
    <b id="bold">${{ Constants.show_up_fee }} dollar</b>. You may earn additional money depending on:

    <br><br>

    {% if player.treat == 1 %}
    - Your <b id="final">final message</b> in Task 1.

    {% else %}
    - The <b id="final">final message</b> sent by P3 in Task 1.

    <br><br>

    - The accuracy of your answer in the randomly chosen question in Task 2.
    {% endif %}

    <br><br>

    The total payment will be processed within <b id="bold">{{ Constants.payment_days }} days</b>.

    <br><br>

    Please return to <b>MTurk</b>. You will be asked to provide a code to process your payment. Your code is:

    <br><br>

        <div class="center">
            <b id="big">{{ participant.code }}{{ session.code }}</b>
        </div>

</p>


{% endblock %}


