{% extends "p1_no3/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 1: Report.</h2>
{% endblock %}

{% block content %}

<div>
    <p>
        The image illustrates the order in which the players send messages reporting on the <b id="hidden"> hidden number </b>.
        <br><br>

        <div class="center">
        {% if player.treat == 1 %} <!-- FRST -->
                <img width="400" height="150" src="{% static "p1_no3/T1_Img_Sequence_FRST_3.png" %}"/>

        {% elif player.treat == 2 %} <!-- NO -->
                <img width="750" height="150" src="{% static "p1_no3/T2_Img_Sequence_NO_3.png" %}"/>

        {% elif player.treat == 3 %} <!-- EXO -->
                <img width="750" height="150" src="{% static "p1_no3/T3_Img_Sequence_EXO_3.png" %}"/>

        {% elif player.treat == 4 %} <!-- ENDO -->
                <img width="750" height="150" src="{% static "p1_no3/T4_Img_Sequence_ENDO_3.png" %}"/>

        {% elif player.treat == 5 %} <!-- VCTM -->
                <img width="750" height="150" src="{% static "p1_no3/T5_Img_Sequence_VCTM_3.png" %}"/>

        {% else %} <!-- VCTM5 -->
                <img width="750" height="150" src="{% static "p1_no3/T11_Img_Sequence_VCTM_5.png" %}"/>
        {% endif %} <!-- -->
        </div>

        <br>

        You are <b id="large">P1</b>. The number below is the <b id="hidden"> hidden number </b> that you have drawn.
        <br>

        <div class="center">
            <b id="big">{{ player.rnum }}</b>
        </div>
    </p>
</div>

<div>
    <p>
        {% if player.treat == 1 %} <!-- FRST -->
            The objective of the game is that P1 would report in the <b id="final">final message</b> the
            <b id="hidden"> hidden number </b> drawn by P1.

            <br><br>

            In the box below, send your <b id="final">final message</b> on the <b id="hidden"> hidden number </b> to
            determine the earnings that you, P2 and P3 will each receive for this task.

       {% elif player.treat == 2 or player.treat == 3 or player.treat == 4 %} <!-- NO, EXO, ENDO -->
            The objective of the game is to send messages so that P3 would report in the
            <b id="final">final message</b> the <b id="hidden"> hidden number</b> drawn by P1.

            <br><br>

            In the box below, send your message to P2 reporting on the <b id="hidden"> hidden number</b>. P2 will then send a message to P3
            reporting on the <b id="hidden"> hidden number</b>. P3 will then send the <b id="final">final message</b> on
            the <b id="hidden"> hidden number </b> to determine the earnings that you, P2 and P3 will each receive for this task.

       {% elif player.treat == 5 %} <!-- VCTM -->
            The objective of the game is to send messages so that P3 would report in the
            <b id="final">final message</b> the <b id="hidden"> hidden number</b> drawn by P1.

            <br><br>

            In the box below, send your message to P2 reporting on the <b id="hidden"> hidden number</b>. P2 will then send a message to P3
            reporting on the <b id="hidden"> hidden number</b>. P3 will then send the <b id="final">final message</b> on
            the <b id="hidden"> hidden number </b> to determine the earnings that you, P2, P3 and P4 will each receive for this task.

       {% elif player.treat == 11 %} <!-- VCTM5 -->
            The objective of the game is to send messages so that P3 would report in the
            <b id="final">final message</b> the <b id="hidden"> hidden number</b> drawn by P1.

            <br><br>

            In the box below, send your message to P2 reporting on the <b id="hidden"> hidden number</b>. P2 will then send a message to P3
            reporting on the <b id="hidden"> hidden number</b>. P3 will then send the <b id="final">final message</b> on
            the <b id="hidden"> hidden number </b> to determine the earnings that you, P2, P3, P4 and P5 will each receive for this task.
        {% endif %} <!-- -->
    </p>

    <center>
        {% formfield player.report_1 label="" %}

    <p>
        {% if player.treat == 1 %} <!-- FRST -->
        <button type="otree-btn-next" class="btn btn-danger btn-md"> Send the final message </button>

        {% else %} <!-- FRST -->
        <button type="otree-btn-next" class="btn btn-primary btn-md"> Send my message to P2 </button>
        {% endif %} <!-- -->

    </center>
    </p>
</div>

<div>
    <br><br>
    <center>
        <input type="hidden" value="0" name="inst_show" id="inst_show"/>
        <button type="button" class="btn btn-warning btn-large" onclick="$('#inst_show').val(1); document.getElementById('demo').style.display='block'">Show Instructions</button>
    </center>

    <br> <br>

    <div id="demo" style="display:none"> {% include Constants.instructions_template %} </div>

</div>
{% endblock %}
