{% extends "p1_no3/Style.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <h2 id="bold">Welcome to this study.</h2>
{% endblock %}

{% block content %}
<p>
    You will play a simple game with other MTurk workers, the details of which will be explained to you in the following screens.
    You will read the instructions for the tasks and be asked a few comprehension questions to see if you understand
    the instructions. You can only participate if you answer all of these questions correctly, so your full attention
    is needed for the duration of the study.

    <br><br>

    Your participation will last between 5 and 10 minutes.

    <br><br>

    For participating in the study, you will earn a show-up payment of ${{ Constants.show_up_fee }}. You can earn up to
    ${{ Constants.total_pay }} in these tasks in addition to your show-up payment. How to earn this money is explained
    to you in the instructions.

    <br><br>

    Please, click on the button to begin your participation in this study.

</p>

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Begin </button>


{% endblock %}
