{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
          <h2>Your <span id="lower">Group</span> and <span id="lower">Appearance</span></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6 border rounded" id="pale">
        <h3>
          For each of the 10 rounds in Part 1:
        </h3>
          <br><br>

          {% if player.given_type == 1 %}
            <h3>Your group will be:</h3>
            <br>
            <h1>&#9679</h1>
            <br>
            <h3>Your appearance will be:</h3>
            <br>
            <h1>&#9711</h1>
            {% elif player.given_type == 4 %}
            <h3>Your group will be:</h3>
            <br>
            <h1>&#9650</h1>
            <br>
            <h3>Your appearance will be:</h3>
            <br>
            <h1>&#9651</h1>.
            {% endif %}
        </h3>
      </div>
      <div class="col-sm-6 border    rounded" id="network">
          <h3>You will be displayed with using the image below:</h3>
            <br>
          {% if player.given_type == 1 %}
            <img width="100%" src="{% static "switch_p1/Img_T1.jpeg" %}"/
            {% elif player.given_type == 4 %}
            <img width="100%" src="{% static "switch_p1/Img_T2.jpeg" %}"/
           {% endif %}
          <br><br>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
    </style>
{% endblock %}