{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
          <h2>
              You are player <b id="lower"> {{ player.name }}</b> <small>(Round {{ subsession.round_number }}
              of {{ Constants.num_rounds}})</small>
          </h2>
            <h6>
                {% if player.chosen_type == 1 %}
                Your <span id='lower'>chosen </span> group is <b id='lower'>&#9679</b> and your appearance <b id='lower'>&#9711</b>

                {% elif player.chosen_type == 2 %}
                Your <span id='lower'>chosen </span> group is <b id='lower'>&#9679</b> and your appearance <b id='lower'>&#9651</b>

                {% elif player.chosen_type == 3 %}
                Your <span id='lower'>chosen </span> group is <b id='lower'>&#9650</b> and your appearance <b id='lower'>&#9711</b>

                {% else %}
                Your <span id='lower'>chosen </span> group is <b id='lower'>&#9650</b> and your appearance <b id='lower'>&#9651</b>
                {% endif %}
            </h6>
          <h6 id="lower">In this round there are: <span id="white">{{ group.total_circles }} &#9679 </span> and <span id="white">
              {{ group.total_triangles }} &#9650</span></h6>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-3 border border-dark text-white rounded p-3 mb-1" id="middle">
          <h5 id="lower">Stage 3: Options</h5>
        <p>Pick an option:</p>
        <div>
            <button name="action" value="1" class="btn button1 btn-large"> Up </button>
            <br><br>
            <button name="action" value="0" class="btn button2 btn-large"> Down </button>
        </div>
      </div>
      <div class="col-sm-9 border border-dark rounded p-3 mb-1" id="network">
        <b>Relations proposed in Stage 2:</b>
        <div id="cy"></div>
            <div class="container ">
                <div class="row">

                </div>
            </div>
      </div>
    </div>
</div>
<div>
    <br><br>
    <input type="hidden" value="0" name="inst_show" id="inst_show"/>
    <button type="button" class="btn button_inst btn-large" onclick="$('#inst_show').val(1); document.getElementById('demo').style.display='block'">
        Show Instruction Summary
    </button>
    <br><br>
    <div id="demo" style="display:none">
        {% include Constants.instructions_template %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.js"></script>
    <script>
        var jsonnet = JSON.parse('{{group.network_data|safe}}');
        var player_id = {{ player.name }};
        console.log(jsonnet);
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

        });

        // Add isMine = 'yes' to all player's node and edges
        jsonnet.elements = jsonnet.elements.map(
            function(value) {
                if ( (value.group === 'nodes' && value.data.name == player_id) ||
                     (value.group === 'edges' && (value.data.source == player_id || value.data.target == player_id))
                ) {
                    value.data.isMine = 'yes'
                }
                else {
                    value.data.isMine = 'no'
                }
                if (value.group === 'edges' && value.data.source == player_id) {
                    value.data.linkStyle = 'source'
                }
                if (value.group === 'edges' && value.data.target == player_id) {
                    value.data.linkStyle = 'target'
                }
                if ( (value.group === 'nodes' && value.data.location == 1) || (value.group === 'nodes' && value.data.location == 2) ||
                        (value.group === 'nodes' && value.data.location == 3) || (value.group === 'nodes' && value.data.location == 7) ||
                        (value.group === 'nodes' && value.data.location == 6)
                ) {
                    value.data.vertPos = 'top'
                }
                else {
                    value.data.vertPos = 'bottom'
                }
                if ( (value.group === 'nodes' && value.data.location == 1) || (value.group === 'nodes' && value.data.location == 2) ||
                        (value.group === 'nodes' && value.data.location == 3) || (value.group === 'nodes' && value.data.location == 4)
                ) {
                    value.data.horPos = 'right'
                }
                else {
                    value.data.horPos = 'left'
                }
                return value
            });

        console.log(jsonnet)
        cy.json(jsonnet);

        var layout = cy.layout({name: 'circle'});

        layout.run();
        //cy.center('node[isMine="yes"]');
        cy.panBy('node[isMine="yes"]');
        //cy.fit();
        // Centra en el nodo pero no con los demás al rededor

        cy.style()
            // LINKS ==============================================
            .selector('edge')
            .style('line-color', '#000000')
            .style('source-endpoint', 'inside-to-node')
            .style('target-distance-from-node', '7px')
            // My Links
            .selector('edge[isMine="yes"]')
            .style('line-color', '#000000')
            .style("target-arrow-shape", "triangle")
            .style('arrow-scale','1')
            .style("target-arrow-color", "#757575")
            .style("curve-style", 'bezier')
            .style('target-distance-from-node', '8px')
            .style('width', '4')
            // My Links: Out-degree
            .selector('edge[linkStyle="source"]')
            .style("target-arrow-color", "#000000")
            .style('line-color', '#757575')
            // NOT My Links
            .selector('edge[isMine="no"]')
            .style("target-arrow-shape", "vee")
            .style('arrow-scale','0.5')
            .style("target-arrow-color", "#000000")
            .style("curve-style", 'bezier')
            .style('width', '0.25')
            // ====================================================
            // NODES ==============================================
            .selector('node')
            .style('padding-relative-to', 'width')
            // Node Labels: Top
            .selector('node[vertPos="top"]')
            .style('text-valign','top')
            // Node Labels: Bottom
            .selector('node[vertPos="bottom"]')
            .style('text-valign','bottom')
            // Node Labels: Right
            .selector('node[horPos="right"]')
            .style('text-halign','right')
            // Node Labels: Left
            .selector('node[horPos="left"]')
            .style('text-halign','left')
            // Nodes: type == 1
            .selector('node[shape=1]')
            .style('shape', 'ellipse')
            .style('background-image', 'url("{% static "network_identity/circle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 2
            .selector('node[shape=2]')
            .style('shape', 'ellipse')
            .style('background-image', 'url("{% static "network_identity/triangle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 3
            .selector('node[shape=3]')
            .style('shape', 'triangle')
            .style('background-image', 'url("{% static "network_identity/circle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 4
            .selector('node[shape=4]')
            .style('shape', 'triangle')
            .style('background-image', 'url("{% static "network_identity/triangle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            .selector('node[isMine="yes"]')
            .style('width', '35px')
            .style('height', '35px')
            .style('background-color', '#CFD8DC')
            .style('border-width', '4')
            .style('border-color', '#000000')
            .style('font-size','25pt')
            .style('color','#000000')
            // NOT My Node
            .selector('node[isMine="no"]')
            .style('border-width', '2')
            .style('border-color', '#424242')
            .style('background-color', '#ffffff')
            .style('font-size','15')
            .style('color','#000000')

            // ====================================================
            .update() // update the elements in the graph with the new style
        ;

        cy.userZoomingEnabled(false);
        cy.autoungrabify(true);
    </script>
{% endblock %}

{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 500px;
            display: block;
        }
        .button1 {
            background-color: #9C27B0;
            color: #ffffff;
            border: 2px solid #ffffff
        }
        .button1:hover {
            background-color: #ffffff;
            color: #9C27B0;
            border: 2px solid #9C27B0
        }
        .button2 {
            background-color: #00BCD4;
            color: #ffffff;
            border: 2px solid #ffffff
        }
        .button2:hover {
            background-color: #ffffff;
            color: #00BCD4;
            border: 2px solid #00BCD4
        }
        .button_inst {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        .button_inst:hover {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
        #in_tie{
            background-color: #000000;
            color: #ffffff
        }
        #out_tie{
            background-color: #616161;
            color: #ffffff
        }
        #option_up{
            background-color: #9C27B0;
            color: #ffffff
        }
        #option_down{
            background-color: #00BCD4;
            color: #ffffff
        }
    </style>
{% endblock %}
