{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h2> Instructions Part 2</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_p2/Img_I1.png" %}"/>
                </div>
                <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Stage 1: Group Choice</h5>
                    <p>
                    In Part 2 you will interact with {{ Constants.others }} other players. At the beginning of every round
                    (in Stage 1) each of you will be choose a group: &#9679 or &#9650. You will earn points according to
                    the group you choose in Stage 1 and not according to the group you were assigned to (in case they are
                    different). You will have an appearance (&#9711 or &#9651) and a label (1 to 7). You can change your
                    group and appearance in each round while your label will be changed by the computer. There are 4
                    stages in each round.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_p2/Img_I2.png" %}"/>
                </div>
                <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Stage 2: Relations</h5>
                    <p>
                    In stage 2, you can propose relations to other players. A relation with another player is <b>active</b>
                    if both you and the other player propose a relation to each other. Each relation you propose will cost you
                    {{ Constants.link_cost }} points.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_p2/Img_I3.png" %}"/>
                </div>
                <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Stage 3: Options</h5>
                    <p>
                    In stage 3, you will choose an option: <span id="option_up">Up</span> or <span id="option_down">Down</span>.
                    You will earn points depending on the group <b> you chose in Stage 1</b>, the option you choose, and
                    the number of your active relations choosing <b>the same option</b> as you:
                    </p>
                    <p>
                        <b>If your <i>chosen</i> group is <b>&#9679</b> and you:</b>
                    <ul>
                        <li>choose <b id="option_up">Up</b>, you get <b>{{ Constants.liked_gain }} points</b>  for each
                        active relation choosing <b id="option_up">Up</b> (including yourself) and <b>0 points</b> for any
                        active relation choosing <b id="option_down">Down</b> </li>
                        <br>
                        <li>choose <b id="option_down">Down</b>, you get <b>{{ Constants.disliked_gain }} points</b> for each
                        active relation choosing <b id="option_down">Down</b> (including yourself) and <b>0 points</b> for any
                        active relation choosing <b id="option_up">Up</b> </li>
                    </ul>
                    </p>
                    <p>
                    <b>If your <i>chosen</i> group is <b>&#9650</b> and you:</b>
                    <ul>
                        <li>choose <b id="option_down">Down</b>, you get <b>{{ Constants.liked_gain }} points</b> for each active
                        relation choosing <b id="option_down">Down</b> (including yourself) and <b>0 points</b> for any active
                        relation choosing  <b id="option_up">Up</b> </li>
                        <br>
                        <li>choose <b id="option_up">Up</b>, you get <b>{{ Constants.disliked_gain }} points</b> for
                        each active relation choosing <b id="option_up">Up</b> (including yourself) and <b>0 points</b> for any
                        active relation choosing <b id="option_down">Down</b> </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_p2/Img_I4.png" %}"/>
                </div>
                <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Stage 4: Results</h5>
                    <p>
                    In stage 4, you will see how many points you get in that round, which are calculated by the gains of
                    coordinating with your active relations minus the costs of your proposed relations. The border of each
                    player's appearance (&#9711 or &#9651) shows the option that player chose.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_p2/Img_I5.png" %}"/>
                </div>
                <div class="col-sm-10 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Earnings in the experiment</h5>
                    <p>
                    You will participate for 10 rounds in Part 2 and will interact with the same other {{ Constants.others }}
                    players from Part 1. At the end of the experiment the computer <b>will randomly select two rounds</b>,
                    one from Part 1 and one from Part 2. The total number of points you got in the selected rounds will
                    determine your payment. We will convert the points into Euros using the following exchange rate: 
                    <b>{{ Constants.exchange }} points = 1 Euro</b>. You will receive your earnings in cash.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>