{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
          <h2>Your <span id="lower">Payment</span>:</h2>
          <h5>The computer randomly selected <span id="lower">one round</span> from <span id="lower">Part 1</span> and
              <span id="lower">one round</span> from <span id="lower">Part 2</span> to calculate your payment:</h5>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-4 border border-dark text-white rounded mb-1" id="middle">
        <h5>
          From Part 1:
        </h5>
        <h3 id='lower'>Round {{ paying_round_1 }}</h3>
          <br>
        <h5>
          From Part 2:
        </h5>
        <h3 id='lower'>Round {{ paying_round_2 }}</h3>
      </div>
      <div class="col-sm-8 border rounded" id="network">
          <h5 id="midi">Your total payoff is:</h5>
            <br>
        <h1>{{ participant.payoff }}</h1>
          <br><br>
            <h6 id="midi">Please wait until you are called for payment.</h6>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Finish </button>
          <br><br>
      </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #midi{
            color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
        #in_tie{
            background-color: #000000;
            color: #ffffff
        }
        #out_tie{
            background-color: #616161;
            color: #ffffff
        }
        #option_up{
            background-color: #9C27B0;
            color: #ffffff
        }
        #option_down{
            background-color: #00BCD4;
            color: #ffffff
        }
    </style>
{% endblock %}