{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container">
    <h1> Round {{ subsession.round_number }} of {{ Constants.num_rounds }} - <small>Action</small></h1>

    <div class="row">

        <div class="col-md-6" style="background-color:black;">
            <svg width="400" height="400">
               <line id="bot-left-right" x1="110" y1="290" x2="260" y2="290" stroke="white" stroke-width="2" />
               <line id="top-left-right" x1="110" y1="140" x2="260" y2="140" stroke="white" stroke-width="2" />
               <line id="left-top-bot" x1="110" y1="290" x2="110" y2="140" stroke="white" stroke-width="2" />
               <line id="right-top-bot" x1="260" y1="290" x2="260" y2="140" stroke="white" stroke-width="2" />
               <line id="topleft-botright" x1="110" y1="140" x2="260" y2="290" stroke="white" stroke-width="2" />
               <line id="topright-botleft" x1="110" y1="290" x2="260" y2="140" stroke="white" stroke-width="2" />
               <polygon id="top-left" points="85,165 110,115 135,165" stroke="pink" stroke-width="6" fill="black" />
               <rect id="top-right" x="225" y="120" width="65" height="45" rx="5" ry="5" stroke="pink" stroke-width="6" fill="black" />
               <circle id="bot-right" cx="260" cy="290" r="25" stroke="pink" stroke-width="6" fill="black" />
               <rect id="bot-left" x="90" y="270" width="45" height="45" rx="5" ry="5" stroke="pink" stroke-width="6" fill="black" />
               <text x="105" y="150" fill="white">A</text>
               <text x="255" y="150" fill="white">B</text>
               <text x="255" y="295" fill="white">C</text>
               <text x="105" y="298" fill="white">D</text>
            </svg>
        </div>

        <div class="col-md-6" style="background-color:black;">
            <center>
            <div class="container">
                <br><br><br><br>
                <font color="white"><h4>You are participant <strong>{{player.role}}</strong> </h4></font>
                <br><br>
                <font color="white"><h6>Click on the <font color="pink">action</font> you want to choose</h6></font>
                <br>
                <button name="action" value="0" class="btn btn-warning">Orange</button>
                <button name="action" value="1" class="btn btn-success">Green</button>
                <button name="action" value="2" class="btn btn-info">Blue</button>
                <button name="action" value="3" class="btn btn-danger">Red</button>
            </div>
            </center>
        </div>

    </div>
</div>

{% endblock %}

