{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container">
    <h1> Round {{ subsession.round_number }} of {{ Constants.num_rounds }} - <small>First message</small></h1>

    <div class="row">

        <div class="col-md-6" style="background-color:#FFFFFF;">
         <!-- graph : start -->
                <div id="cy"></div>

          <!-- graph : end -->
        </div>

        <div class="col-md-6" style="background-color:black;">
            <center>
            <div class="container">
                <br><br>
                <font color="white"><h4>You are participant <strong>{{player.role}}</strong> </h4></font>
                <br><br>
                <font color="white"><h6>Click on the <font color="pink">first message</font> you want to send</h6></font>
                <br>
                <button name="first" value="0" class="btn btn-warning">Orange</button>
                <button name="first" value="1" class="btn btn-success">Green</button>
                <button name="first" value="2" class="btn btn-info">Blue</button>
                <button name="first" value="3" class="btn btn-danger">Red</button>
                <br><br><br>
            </div>
            </center>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.12/cytoscape.js"></script>

    <script>
        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: [
                // nodes
                { data: {id: 'a'}},
                { data: {id: 'b'}},
                { data: {id: 'c'}},
                { data: {id: 'd'}},

                // links
                { data: {id: 'ab', source: 'a', target: 'b'}},
                { data: {id: 'ac', source: 'a', target: 'c'}},
                { data: {id: 'ad', source: 'a', target: 'd'}},
                { data: {id: 'bc', source: 'b', target: 'c'}},
                { data: {id: 'bd', source: 'b', target: 'd'}},
                { data: {id: 'cd', source: 'c', target: 'd'}},
                ],
            style: [
                {
                    selector: 'node',
                    style: {
                        shape: 'circle',
                        'background-color': 'pink',
                        'border-width': '5px',
                        'border-color': 'black',
                        'width': '50px',
                        'height': '50px',
                        label: 'data(id)'
                    }
                }],
            layout: {
                name: 'grid',
                fit: true,
                },

            // Interaction options
            userZoomingEnabled: false,
            autoungrabify: true,
        });
    </script>

// Notes
// cy.add() may be an option to change borders and colors
// cy.getElementById('j'); or cy.$id('j'); where 'j' is the 'id' could also be sued
//
//      position: function(ele) { // I could use border-color instead of position
//        if (ele.data('molecule') === 'DHAP') { // 'molecule' is the 'id' here, I could use a variable?
//          return { row: ele.id() - 1, col: 1 };
//        }
//        return { row: ele.id(), col: 0 };
//      }
//    }

{% endblock %}

{% block styles %}

    <style>
        #cy {
            border: 1px solid #000000;
            width: 100%;
            height:100%;
            position: relative;
            top: 0px;
            left: 0px;
            }
    </style>

{% endblock %}
