{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h2 id="bold">Instructions</h2>

        <p>
        {% if player.treat <= 9 %} <!-- FRST, NO, EXO, ENDO -->
        You will earn money based on the decisions you and another make in this game explained below. <b>This payment is
            over and above the payment of ${{ Constants.show_up_fee }} dollar that you will be paid for this HIT.</b>

        <br><br>

        The first task you will complete is explained here, and you will receive instructions for any additional tasks
        later. In the first task, you will play a game in a group with another participant who is also a worker
        on Amazon Mechanical Turk.

        {% else %} <!-- VCTM5 -->
        You will earn money based on the decisions you and others make in this game explained below. <b>This payment is
            over and above the payment of ${{ Constants.show_up_fee }} dollar that you will be paid for this HIT.</b>

        <br><br>

        The first task you will complete is explained here, and you will receive instructions for any additional tasks
        later. In the first task, you will play a game in a group with two other participants who are also workers
        on Amazon Mechanical Turk.

        {% endif %} <!-- -->
        </p>

        <p>
        {% if player.treat == 6 %} <!-- FRST -->
        You will be labeled as P1 or P2, which will indicate the order in which you play. Depending on your label,
            you will be the one drawing the <b id="hidden">hidden number</b> and submitting a <b id="final">final message</b>,
            or will be a “passive” player with no actions to take.

        {% elif player.treat == 7 or player.treat == 8 or player.treat == 9 %} <!-- NO, EXO, ENDO -->
        You will be labeled as P1 or P2, which will indicate the order in which you play. Depending on your label,
            you will be the one drawing the <b id="hidden">hidden number</b>, you will send a message to the next player,
            or submit a <b id="final">final message</b>.

        {% else %} <!-- VCTM -->
        You will be labeled as P1, P2 or P3, which will indicate the order in which you play. Depending on your label,
            you will be the one drawing the <b id="hidden">hidden number</b>, you will send a message to the next player,
            submit a <b id="final">final message</b>, or be a “passive” player with no actions to take.

        {% endif %} <!-- -->
        </p>

        <p>
        {% if player.treat == 6 %} <!-- FRST -->
        The objective of the game is that P1 would report in the <b id="final">final message</b> the
            <b id="hidden"> hidden number </b> drawn by P1.

        {% else %} <!-- NO, EXO, ENDO, VCTM, VCTM5 -->
        The objective of the game is to send a message so that P2 would report in the <b id="final">final message</b>
            the <b id="hidden"> hidden number</b> drawn by P1.
        {% endif %} <!-- -->
        </p>

        <p>
        The task of the different participants is illustrated in detail in the image, and is described below:

        <br><br>

        {% if player.treat == 6 %} <!-- FRST -->
                <img width="400" height="150" src="{% static "p1_no2/T6_Img_Sequence_FRST_2.png" %}"/>

        {% elif player.treat == 7 %} <!-- NO -->
                <img width="650" height="150" src="{% static "p1_no2/T7_Img_Sequence_NO_2.png" %}"/>

        {% elif player.treat == 8 %} <!-- EXO -->
                <img width="650" height="150" src="{% static "p1_no2/T8_Img_Sequence_EXO_2.png" %}"/>

        {% elif player.treat == 9 %} <!-- ENDO -->
                <img width="650" height="150" src="{% static "p1_no2/T9_Img_Sequence_ENDO_2.png" %}"/>

        {% else %} <!-- VCTM -->
                <img width="650" height="150" src="{% static "p1_no2/T10_Img_Sequence_VCTM_2.png" %}"/>

        {% endif %} <!-- -->
        </p>

        <p>
        1.	The game starts with P1 who clicks on one of the 144 cards arranged in a 12 by 12 grid appearing on the
            screen which can be seen on the right of the image below. Each card has a number on it between 1 and 30,
            and clicking on a card reveals the number, which will be the <b id="hidden">hidden number</b> in the game
            you play.

        <br><br>

        The frequency of each number on the cards is illustrated on the left of the image at the bottom of these
            instructions. Note that each of the possible numbers appear on at least one card. However, there are some
            numbers that are more frequent than others. For example, there are four cards with the number 5 on them,
            there are sixteen cards with the number 7 on them, or thirty cards with the number 10 on them – which is
            the most frequent number –, while there is only one card with, say, the number 20 on it.

        <br><br>

        <img width="700" height="500" src="{% static "p1_no2/Img_distribution.png" %}"/>
        </p>

        <p>
        {% if player.treat == 6 %} <!-- FRST -->
        2. The <b id="hidden">hidden number</b> is revealed to P1 when he/she clicks on a card. Then, P1 will send
            a <b id="final">final message</b> reporting on the <b id="hidden">hidden number</b>.

        <br><br>

        3. P2 does not receive or send any messages in this task, he/she is a passive player.

        {% else %} <!-- NO, EXO, ENDO, VCTM -->
        2. The <b id="hidden">hidden number</b> is revealed to P1 when he/she clicks on a card. Then, P1 will send a
            message reporting on the <b id="hidden">hidden number</b> to P2.

        {% endif %} <!-- -->
        </p>

        <p>
        {% if player.treat == 7 %} <!-- NO -->
        3. P2 will see the number P1 reported in his/her message. P2 will not see the <b id="hidden">hidden number</b>
            that was drawn by P1. Then, P2 sends a <b id="final">final message</b> reporting on the <b id="hidden">hidden
            number</b>.

        {% elif player.treat == 8 %} <!-- EXO -->
        3. P2 will see the number P1 reported in his/her message. P2 will also see the <b id="hidden">hidden number</b>
            that was drawn by P1 with {{ Constants.exo_prob_show }}% chance. This means that with
            {{ Constants.exo_prob_no_show }}% chance P2 will not see the <b id="hidden">hidden number</b>.
            Then, P2 sends a <b id="final">final message</b> reporting on the <b id="hidden">hidden number</b>.

        {% elif player.treat == 9  or  player.treat == 10 %} <!-- NO, EXO, ENDO, VCTM -->
        3. P2 will see the number P1 reported in his/her message. P2 can also check the <b id="hidden">hidden number</b>
            that was drawn by P1 by clicking on a button displayed on his/her screen. P2 will not see the
            <b id="hidden">hidden number</b> if he/she does not click on the “Show the hidden number” button. Then,
            P2 sends a <b id="final">final message</b> reporting on the <b id="hidden">hidden number</b>.
        {% endif %} <!-- -->
        </p>

        <p>
        {% if player.treat == 10 %} <!-- VCTM -->
        4. P3 does not receive or send any messages in this task, he/she is a passive player.
        {% endif %} <!-- -->
        </p>

        <p>
        <h2 id="bold">Earnings</h2>
        Note that the earnings in this task are additional to your payment of ${{ Constants.show_up_fee }} that you will
        be paid for this HIT regardless of the choices you and others make in this game.

        <br><br>

        {% if player.treat == 6 %} <!-- FRST -->
        Both participants get paid according to the number P1 reports in the <b id="final">final message</b>.

        <br><br>

        P1 and P2 each earns 5 cents times the number P1 reports in the <b id="final">final message</b>. For example,
        if the number reported by P1 is 16, then P1 and P2 will earn 5*16 = 80 cents.

        {% elif player.treat == 7 or player.treat == 8 or player.treat == 9 %} <!-- NO, EXO, ENDO -->
        Both participants get paid according to the number P2 reports in the <b id="final">final message</b>.

        <br><br>

        P1 and P2 each earns 5 cents times the number P2 reports in the <b id="final">final message</b>. For example,
        if the number reported by P2 is 16, then P1 and P2 will earn 5*16 = 80 cents.

        {% else %} <!-- VCTM5 -->
        All three participants get paid according to the number P2 reports in the <b id="final">final message</b>, but
        the payment will be calculated differently for P3 than for the other two players (P1 and P2).

        <br><br>

        P1 and P2 each earns 5 cents times the number P2 reports in the <b id="final">final message</b>. For example,
        if the number reported by P2 is 16, then P1 and P2 will earn 5*16 = 80 cents.

        <br><br>

        P3, on the other hand, will be paid 5 cents times the difference between twice the <b id="hidden">hidden number</b>
        and the <b id="final">final message</b> – which is (2*<b id="hidden">hidden number</b> -
        <b id="final">final message</b>)*5 cents. For example, if the <b id="hidden">hidden number</b> is 10 and P2
        reported 16 in the <b id="final">final message</b>, then P3 will earn (2*10-16)*5 = (20-16)*5 = 4*4 = 20 cents.
        If the resulting earnings for P3 would be negative, he/she earns 0 cents in this task.

        <br><br>

        Note that if the <b id="hidden">hidden number</b> and the <b id="final">final message</b> are the same, all
        players earn the same amount.

        {% endif %} <!-- -->
        </p>
    </div>
</div>

