{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <p id="sub">
            This question is about the choice made by another participant <b> in your group</b>.
            You can earn <b id="bold">20 cents</b> if your report is 3 units above or below the choice made by the other
            participant if this question is selected for payment. For example, if the participant reported 5, and your
            answer is between 2 and 8, you will earn 20 cents. Otherwise, you will not earn money in this task.
        </p>
    </div>
</div>
