{% extends "p1_no2/Style.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <h2 id="bold">Please answer the questions below.</h2>
{% endblock %}

{% block content %}

<p>
    <b>1. What is your gender?</b>
    <br>
    <small>{% formfield player.gender label="" %}</small>

    <b>2. What is your Ethnicity?</b>
    <br>
    <small>{% formfield player.ethnicity label="" %}</small>

    <b>3. What is your Race?</b>
    <br>
    <small>{% formfield player.race label="" %}</small>

    <b>4. What is your age?</b>
    <br>
    <small>{% formfield player.age label="" %}</small>

    <b>5. What is your highest completed level of education?</b>
    <br>
    <small>{% formfield player.education label="" %}</small>

    <b>6. Which state do you live in?</b>
    <br>
    <small>{% formfield player.state label="" %}</small>

    <b>7. What was your yearly personal income in 2017 (include salary, interests, returns on investments)?</b>
    <br>
    <small>{% formfield player.income label="" %}</small>

</p>

<button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

{% endblock %}

