{% extends "p1_no2/Style.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

    <p>
        <b id="bold">Please read the instructions carefully.</b> After you finish reading them you will be asked some comprehension
        questions to verify that you understand the instructions. You can only participate in the study once you have answered
        all of the questions correctly. If you did not get all questions right, you will have the opportunity
        to view the instructions again, and revise your answers one more time. <b id="bold">If you fail twice you will not be
        able to participate in this study, and you will not get paid.</b>
        As a consequence, your full attention is required for the duration of the study.
    </p>

    {% include Constants.instructions_template %}

    <p>
        These instructions will be displayed at the bottom of your screen if you click on a “Show Instructions” button.
        <br><br>

        If you have read the instructions <b id="bold">carefully</b>, press the button below. You can only participate in the
        study once you have answered correctly <b id="bold">all</b> of the questions testing your comprehension of the instructions,
        on the following screen. If you do not get all questions right, you will have an opportunity
        to review the instructions again, and revise your answers one more time. <b id="bold">If you fail twice, you will not be able
        to participate in this study, and you will not get paid.</b> As a consequence, your full attention is required for the duration of the study.
    </p>

    <br>

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

{% endblock %}
