{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" style='background-color: #455A64;'>
          <h2> You are player <b style='color: #B3E5FC'> {{ player.name }}</b>.</h2>
            <h6>
                {% if player.given_type == 1 %}
                Your internal symbol is <b style='color: #B3E5FC'>&#9711</b> and your external symbol is <b style='color: #B3E5FC'>&#9711</b>

                {% elif player.given_type == 2 %}
                Your internal symbol is <b style='color: #B3E5FC'>&#9711</b> and your external symbol is <b style='color: #B3E5FC'>&#9651</b>

                {% elif player.given_type == 3 %}
                Your internal symbol is <b style='color: #B3E5FC'>&#9651</b> and your external symbol is <b style='color: #B3E5FC'>&#9711</b>

                {% else %}
                Your internal symbol is <b style='color: #B3E5FC'>&#9651</b> and your external symbol is <b style='color: #B3E5FC'>&#9651</b>
                {% endif %}
            </h6>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-3 border border-dark text-white rounded mb-1" style='background-color: #607D8B;'>
        <h4 class="text-center"> Symbol Choice </h4>
      </div>
      <div class="col-sm-9 border border-dark text-white rounded mb-1" style='background-color: #607D8B;'>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 border border-dark text-white rounded p-3 mb-1" style='background-color: #607D8B;'>
        <div>
            Choose your symbol for next period:
          <br><br>
            <div>
                <button name="chosen_preference" value="True" class="btn button btn-large"> Círculo </button>
                <br><br>
                <button name="chosen_preference" value="False" class="btn button btn-large"> Triángulo </button>
            </div>
        </div>
      </div>
      <div class="col-sm-9 border border-dark rounded p-3 mb-1" style='background-color: #F8F8FF;'>
        <div id="cy"></div>
            <div class="container ">
                <div class="row">

                </div>
            </div>
      </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.js"></script>
    <script>
        var jsonnet = JSON.parse('{{group.network_data|safe}}');
        var player_id = {{ player.name }};
        console.log(jsonnet);
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

        });

        // Add isMine = 'yes' to all player's node and edges
        jsonnet.elements = jsonnet.elements.map(
            function(value) {
                if ( (value.group === 'nodes' && value.data.name == player_id) ||
                     (value.group === 'edges' && (value.data.source == player_id || value.data.target == player_id))
                ) {
                    value.data.isMine = 'yes'
                }
                else {
                    value.data.isMine = 'no'
                }
                if (value.group === 'edges' && value.data.source == player_id) {
                    value.data.linkStyle = 'source'
                }
                if (value.group === 'edges' && value.data.target == player_id) {
                    value.data.linkStyle = 'target'
                }
                if ( (value.group === 'nodes' && value.data.position == 1) || (value.group === 'nodes' && value.data.position == 2) ||
                        (value.group === 'nodes' && value.data.position == 3) || (value.group === 'nodes' && value.data.position == 10) ||
                        (value.group === 'nodes' && value.data.position == 11)
                ) {
                    value.data.vertPos = 'top'
                }
                else {
                    value.data.vertPos = 'bottom'
                }
                if ( (value.group === 'nodes' && value.data.position == 1) || (value.group === 'nodes' && value.data.position == 2) ||
                        (value.group === 'nodes' && value.data.position == 3) || (value.group === 'nodes' && value.data.position == 4) ||
                        (value.group === 'nodes' && value.data.position == 5) || (value.group === 'nodes' && value.data.position == 6)
                ) {
                    value.data.horPos = 'right'
                }
                else {
                    value.data.horPos = 'left'
                }
                return value
            });

        console.log(jsonnet)
        cy.json(jsonnet);

        var layout = cy.layout({name: 'circle'});

        layout.run();
        //cy.center('node[isMine="yes"]');
        cy.panBy('node[isMine="yes"]');
        //cy.fit();
        // Centra en el nodo pero no con los demás al rededor

        cy.style()
            // LINKS ==============================================
            .selector('edge')
            .style('line-color', '#607D8B')
            .style('source-endpoint', 'inside-to-node')
            .style('target-distance-from-node', '7px')
            // My Links
            .selector('edge[isMine="yes"]')
            .style('line-color', '#455A64')
            .style("target-arrow-shape", "triangle")
            .style('arrow-scale','1')
            .style("target-arrow-color", "#455A64")
            .style("curve-style", 'bezier')
            .style('target-distance-from-node', '8px')
            .style('width', '4')
            // My Links: In-degree
            .selector('edge[linkStyle="source"]')
            .style("target-arrow-color", "#455A64")
            .style('line-color', '#78909C')
            // NOT My Links
            .selector('edge[isMine="no"]')
            .style("target-arrow-shape", "vee")
            .style('arrow-scale','0.5')
            .style("target-arrow-color", "#607D8B")
            .style("curve-style", 'bezier')
            .style('width', '0.25')
            // ====================================================
            // NODES ==============================================
            .selector('node')
            .style('padding-relative-to', 'width')
            // Node Labels: Top
            .selector('node[vertPos="top"]')
            .style('text-valign','top')
            // Node Labels: Bottom
            .selector('node[vertPos="bottom"]')
            .style('text-valign','bottom')
            // Node Labels: Right
            .selector('node[horPos="right"]')
            .style('text-halign','right')
            // Node Labels: Left
            .selector('node[horPos="left"]')
            .style('text-halign','left')
            // Nodes: type == 1
            .selector('node[shape=1]')
            .style('shape', 'ellipse')
            .style('background-image', 'url("{% static "network_identity/circle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 2
            .selector('node[shape=2]')
            .style('shape', 'ellipse')
            .style('background-image', 'url("{% static "network_identity/triangle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 3
            .selector('node[shape=3]')
            .style('shape', 'triangle')
            .style('background-image', 'url("{% static "network_identity/circle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // Nodes: type == 4
            .selector('node[shape=4]')
            .style('shape', 'triangle')
            .style('background-image', 'url("{% static "network_identity/triangle.png" %}")')
            .style('background-image-opacity', '0.7')
            .style('background-fit', 'contain')
            // My Node
            .selector('node[isMine="yes"]')
            .style('width', '35px')
            .style('height', '35px')
            .style('background-color', '#B3E5FC')
            .style('border-width', '4')
            .style('font-size','25pt')
            .style('color','#455A64')
            // NOT My Node
            .selector('node[isMine="no"]')
            .style('border-width', '2')
            .style('background-color', '#FAFAFA')
            .style('font-size','15')
            .style('color','#607D8B')
            // ====================================================
            // BEHAVIOR ===========================================
            // Choice == 1
            .selector('node[behavior="up"]')
            .style('border-color', '#8E24AA')
                // .style('background-color', '#E1BEE7')
            // Choice == 0
            .selector('node[behavior="down"]')
            .style('border-color', '#43A047')
                // .style('background-color', '#C8E6C9')
            // ====================================================
            .update() // update the elements in the graph with the new style
        ;

        cy.userZoomingEnabled(false);
        cy.autoungrabify(true);
    </script>
{% endblock %}

{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 500px;
            display: block;
        }
        .button {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
        /*.button:active {*/
          /*background-color: #B3E5FC;*/
          /*box-shadow: 0 5px #666;*/
          /*transform: translateY(4px);*/
        /*}*/
    </style>

{% endblock %}
