{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h1>Instructions</h1>
        <p>
        You are participating in a study on economic decision making and will be asked to make a number of decisions.
            For your participation you will receive a show-up fee of {{ Constants.show_up | c }}. Please read these instructions carefully as
            they describe how you can earn additional money.  The instructions are the same for all participants in
            this session.
        <br><br>
        All the interactions take place through the computers. Please do not talk or communicate with other participants
            in any other way. If you have a question, raise your hand and one of us will help you.
        <br><br>
        This study is anonymous. That is, your identity will not be revealed to others and the identity of others will
            not be revealed to you.
        <br><br>
        During the study you will be able to earn money. This will be explained in detail below. You will be paid your
            earnings in cash.
        <br><br>
        This study is divided in two parts. First, we describe the instructions for Part 1. Once Part 1 is concluded,
            you will receive instructions for Part 2.
        <br><br>
        Your final earnings will be the sum of your earnings in Part 1 and Part 2.
        </p>

        <h3> Part 1 </h3>
        <p>
        At the beginning of this part, the computer randomly forms groups of four participants. You will interact with
            the same other participants throughout Part 1 and Part 2. Part 1 consists of 20 rounds.
        </p>

        <h4>Decisions in each round</h4>
        <p>
        Before Part 1 starts, each participant will be randomly assigned a label: 1, 2, 3, or 4. In each round there
            are two stages: a communication stage, which consist of 2 decision-turns, and an action stage, which
            consists of a single decision-turn. Your earnings will depend only on the action you and the other three
            participants choose and not on the messages sent. This will be explained in detail as follows.
        </p>

        <h5>Communication stage</h5>
        <p>
        In the communication stage, preceding the action stage, each participant will be asked to send messages to the
            other three. You will observe a screen as illustrated in the image below. You can each choose one of four
            possible messages: A, B, C, D, by clicking on the corresponding option (see the third panel on the right).
        </p>
                <img width="100%" src="{% static "group_spillover/Screen_1.png" %}"/>

        <br><br>
        <p>
        The messages have the same names as the actions because they may indicate the action you intend to choose in
            the action stage. However, you do not have to follow your message when choosing your action.
        <br><br>
        The message a participant sends will be displayed, for everyone to see, as the color of the border of its symbol.
            For example, in the center panel of the image, player 1 sent message A, player 2 sent message B,
            player 3 sent message C and player 4 sent message D. There are two identical decision-turns in the
            communication stage.
        </p>

        <h5>Action stage</h5>
        <p>
        After the communication stage ends, each participant will choose one of the four possible actions: A, B, C, or D,
            by clicking on the corresponding option. This will be done on a screen similar to that used to send the
            messages. The main difference is that the action a participant chooses will be displayed as the filling
            (inner color) of its symbol instead of the border. It is the action you and the other three participants
            choose, not the messages sent, what will determine your earnings in Part 1.
        <br><br>
        You will see in how many periods you have all chosen the same action (see left panel in the image above). For
            example, in the four participants have coordinated on the same action as a group in 9 of the 20 rounds.
            The squares below show which action the group coordinates on per round. In the first round they all chose C,
            while in the second they did not coordinate (thus the black square). The action you coordinate on as well as
            the number of rounds you coordinate as a group will determine your earnings.
        </p>
        <h5>Earnings</h5>
        <p>
        You will accumulate points through the 20 rounds. Your points will be used in the calculation of your final
            earnings, which is explained in details below.
        <br><br>
        In each round you will gain points only if all four participants choose the same action. The number of points
            each participant can gain is illustrated in the table below.
        </p>

        <h6>Table Here!</h6>
        <p>
        There are four possible outcomes where you can gain points: If all chose:
        <br>
        1.	N, then A, B, C and D gain 3 points,
        <br>
        2.	W, then A, B, C and D gain 1 point,
        <br>
        3.	E, then A, B, C and D gain 1 point,
        <br>
        4.	S, then A, B, C and D gain 1 point.
        </p>

        <p>
        If at least one player chooses a different action from the rest, each will gain 0 points in that round. How much
            money you earn is explained below:
        <br><br>
        1.	Your group can earn a total of 40 dollars if you coordinate, as a group, in at least 12 of the 20 rounds.
            Coordinating on 11 rounds or less means you do not earn any money.
        <br>
        2.	If you coordinate on 12 rounds or more, you will earn a share of the 40 dollars given by the total points
            of all players in your group (total group points) and your individual point: divide your individual points
            by the total group points and multiply it by 40.
        </p>

        <p>
        - Ex. 1: if the total group points are 240 and your individual points score are 60, you will earn: (60/240)x40
            = 10 dollars.
        <br><br>
        - Ex. 2: if the total group points are 100 and your individual points are 35, you will earn: (35/100)x40 = 5.83
            dollars.
        </p>

        <h5>Summary</h5>
        <p>
        You will participate in groups of 4. Each participant can send a message to the others, twice, and then choose
            an action. You will gain points depending solely on the action chosen. You only gain points if the four
            participants coordinate on the same action. If you coordinate in less than 12 rounds as a group you will
            not earn any money in Part 1. If you coordinate on 12 rounds or more, your earnings will be a share of the
            40 dollars assigned to your group. Your share is given by your individual points and the total group points.
        <br><br>
        If you have read the instructions carefully, press the button below. You can only participate in the study once
            you have answered all of the questions on the following screen correctly.
        </p>
    </div>
</div>

