{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}
    <p>
        Please read the instructions carefully. After you finish reading them you will be asked some comprehension
        questions to verify that you understand the instructions. You can only participate in the study once you
        have answered all of the questions correctly.
    </p>
    {% include Constants.instructions_template %}

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

{% endblock %}
